<div class="col-md-3 col-md-offset-1"  *ngIf="!deptdata.length == 0">  
    <form [formGroup] = "emp">
        <div>
            <label>Emp Name:</label>
            <input type="text" formControlName="empname" class="form-control" (keyup)="checkValidate($event)" (blur)="checkValidate($event)">
            <div *ngIf="validate" class="alert alert-danger">Please Enter Employee</div>
        </div>
        <label>Department:</label>
        <select class="form-control" formControlName="deptID"  ngModel="1">
            <option *ngFor="let data of deptdata" value="{{data.d_id}}">{{data.dName}}</option>
        </select>
        <div style="padding-top: 10px">
            <button class="btn btn-success" *ngIf="add" (click)="addEmp(emp.value)">Add</button>
            <button class="btn btn-warning" *ngIf="update" (click)="updateEmployee(emp.value)">Update</button>
        </div>
    </form>
</div>
<div class="col-md-3 col-md-offset-1 " *ngIf="!deptdata.length == 0">
    <table class="table margin">
        <tr>
            <th>Employee Name</th>
            <th>Department</th>
            <th>Team Leader</th>
        </tr>
        <tr *ngFor="let record of empdata">
            <td>{{record?.empName}}</td>
            <td>{{getNameOfDept(record.depId)}}</td>
            <td>{{getNameOfLeader(record.lId)}}</td>
            <td><button class="btn btn-default" (click)="editEmp(record.empId)">Edit</button></td>
        </tr>
    </table>
</div>