<div class="col-md-3 col-md-offset-1" *ngIf="leaderdata.length > 0">
    <form [formGroup]="department" >
      <div class="form-group">
          <label>Department:</label>
          <input type="text" formControlName="dept" class="form-control" (keyup)="checkValidate($event)" (blur)="checkValidate($event)"> 
          <div *ngIf="!validate" class="alert alert-danger">Please Enter Department</div>
      </div>
        <label>Leader:</label>
        <select class="form-control" formControlName="leaderID" ngModel="1" >
            <option *ngFor="let data of leaderdata" value="{{data.l_id}}">{{data.lName}}</option>
        </select>
      <div style="padding-top: 10px">
          <button class="btn btn-success" *ngIf="add" (click)="addDepartment(department.value)">Add</button>
          <button class="btn btn-warning" *ngIf="update" (click)="updateDepartment(department.value)">Update</button>
      </div>
    </form>
    <table class="table margin">
        <tr>
          <th>Department Name</th>
          <th>Team Leader</th>
        </tr>
        <tr *ngFor = "let record of deptdata">
          <td>{{ record?.dName }}</td>
          <td>{{ getLeaderName(record?.l_id)}}</td>
          <td><Button class="btn btn-default" (click)="editDept(record.d_id)">Edit</Button></td>
        </tr>
    </table>
</div>  