<h1>Employee and Department</h1>
<!--<div class="row" style="padding: 10px;">
<div class="col-md-3 ">  
      <form [formGroup] = "emp">
          <label>Emp Name:</label>
          <input type="text" formControlName="empname" class="form-control">
          <label>Department:</label>
          <select class="form-control" formControlName="deptID" >
            <option *ngFor="let dept of deptdata" value={{dept.id}}>{{dept.dept.dept}}</option>
          </select>
          <div style="padding-top: 10px">
              <button class="btn btn-success" (click)="addEmp(emp.value)">Add</button>
              <button class="btn btn-warning" (click)="updateEmp(emp.value)">Update</button>
          </div>
        </form>
</div>
<div class="col-md-3 col-md-offset-1">
    <form [formGroup]="department" >
        <label>Department:</label>
        <input type="text" formControlName="dept" class="form-control">
        <label>Leader:</label>
        <select class="form-control" formControlName="leaderID">
            <option *ngFor="let leader of leaderdata" value={{leader.id}}>{{leader.leader}}</option>
          </select>
        <div style="padding-top: 10px">
            <button class="btn btn-success" (click)="addDept(department.value)">Add</button>
            <button class="btn btn-warning" (click)="updateDept(department.value)">Update</button>
        </div>
      </form>
</div>
<div class="col-md-3 col-md-offset-1">
    <form [formGroup]="leader" >
        <label>Leader:</label>
        <input type="text" formControlName="teamleader" class="form-control">
        <div style="padding-top: 10px">
            <button class="btn btn-success" (click)="addLeader(leader.value)">Add</button>
            <button class="btn btn-warning" (click)="updateLeader(leader.value)">Update</button>
        </div>
      </form>
</div>
</div>
<div class="row" style="padding: 10px;">
<div class="col-md-3">
    <table class="table">
        <tr>
                <div class="col-md-3 col-md-offset-1">
                        <form [formGroup]="leader" >
                            <label>Leader:</label>
                            <input type="text" formControlName="teamleader" class="form-control">
                            <div style="padding-top: 10px">
                                <button class="btn btn-success" (click)="addLeader(leader.value)">Add</button>
                                <button class="btn btn-warning" (click)="updateLeader(leader.value)">Update</button>
                            </div>
                          </form>
                    </div>          <th>Employee Name</th>
          <th>Department</th>
          <th>Team Leader</th>
        </tr>
        <tr *ngFor="let data of empdata; let row_no = index">
          <td>{{data.empname}}</td>
          <td>{{data.dept.dept.dept}}</td>
          <td>{{data.dept.dept.leader.leader}}</td>
          <td><button class="btn btn-default" (click)="editEmp(row_no)">Edit</button></td>
        </tr>
    </table>
</div>
<div class="col-md-3 col-md-offset-1">
    <table class="table">
        <tr>
           <th>ID</th>
          <th>Department Name</th>
          <th>Team Leader</th>
        </tr>
        <tr *ngFor="let data of deptdata" >
          <td>{{data.id}}</td>
          <td>{{data.dept.dept}}</td>
          <td>{{data.dept.leader.leader}}</td>
          <td><Button class="btn btn-default" (click)="editDept(data.id)">Edit</Button></td>
        </tr>
    </table>
</div>
<div class="col-md-3 col-md-offset-1 ">
    <table class="table">
        <tr>
          <th>Team Leader</th>
        </tr>
        <tr *ngFor="let data of leaderdata; let row_no = index">
          <td>{{data.leader}}</td>
          <td><Button class="btn btn-default" (click)="editLeader(row_no)">Edit</Button></td>
        </tr>
    </table>
</div>
</div> -->
<div class="row">
    <div class="col-md-12">
        <app-leader></app-leader>
        <app-department></app-department> 
        <app-employee></app-employee>
    </div>
</div>