<div class="col-md-3 ">
    <form [formGroup]="leader" >
        <div class="form-group">
            <label>Leader:</label>
            <input type="text" formControlName="teamleader" class="form-control" required (keyup)="checkValidataion($event)" (blur)="checkValidataion($event)">
            <div *ngIf="!validate" class="alert alert-danger">Please insert value</div>
        </div>
    </form>
      <div style="padding-top: 10px">
            <button class="btn btn-success" *ngIf = "add" (click)="addLeader(leader.value)">Add</button>
            <button class="btn btn-warning" *ngIf = "update" (click)="updateLeader(leader.value)">Update</button>
        </div>
    <table class="table margin">
        <tr>
            <th>Team Leader</th>
        </tr>
        <tr *ngFor="let data of leaderdata">
            <td>{{data?.lName}}</td>
            <td><Button class="btn btn-default" type="button" (click)="editLeader(data?.l_id)">Edit</Button></td>
        </tr>
    </table>
</div>